on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: Annotate flaky tests
    steps:
    - name: Get repo
      uses: actions/checkout@main
    - name: Annotate Step
      id: annotate
      uses: openplayuk/gh-action-annotate-flaky-tests@main
      with:
        report_path: ./test_output/dusk_output.json
        github_token: ${{ secrets.GITHUB_TOKEN }}