on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: Annotate flaky tests
    steps:
    - name: show files
      run: ls -al /data
    - name: Annotate Step
      id: annotate
      uses: WillBailie/dusk-results-action@main
      with:
        report_path: ./test_output/dusk_output.json
        github_token: ${{ secrets.GITHUB_TOKEN }}