on: 
  workflow_dispatch:
   
jobs:
    run:
      runs-on: ubuntu-latest
      name: Annotate flaky tests
      steps:
          - name: Get repo
            uses: actions/checkout@main
          - name: Annotate Step
            id: annotate
            uses: WillBailie/dusk-results-action@main
            with:
              report_path: ./test_output/dusk_output.json
              github_token: ${{ secrets.GITHUB_TOKEN }}